__pycache__
**/__pycache__

*.bin
*.egg-info
*.err
*.out
*.safetensors

checkpoints/
datasets/
!pruning/wanda/lm-evaluation-harness/lm_eval/datasets/
!pruning/llmshearing/llmshearing/datasets
llm_weights/
logs/
outputs/
tmp/ 

pruning/llmshearing/llmshearing/data/redpajama/for_prune/*